.main-width {
  font-size: 1.5em;
  color: black;
}
.h2 {
  color: black;
}
.main-cards {
  display: table;
}
.news-text {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 600px) {
  .main__news {
    max-width: 80%;
    margin-left: 10%;
  }
}
@media screen and (max-width: 700px) {
  .news-text {
    text-align: center;
    display: table;
    width: 100%;
  }
}
.textNews {
  font-size: 20px;
  line-height: 1cm;
  max-height: 90px;
  overflow: hidden;
}
.textToggle {
  height: max-content;
  display: table;
}
.main-cards {
  /* margin-left: 5vw;
  width: 90vw; */
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
}